
<h1>
    Pirate name: <%=@pirate.name%><br>
    Pirate weigth: <%=@pirate.weight%><br>
    Pirate height: <%=@pirate.height%><br>
</h1>


<h2>
    <%=@pirate.name%>'s first ship<br>
    Ship name:<%=@ships[0].name%><br>
    Ship type:<%=@ships[0].type%><br>
    Ship booty:<%=@ships[0].booty%><br>
</h2>


<h2>
    <%=@pirate.name%>'s second ship<br>
    Ship name:<%=@ships[1].name%><br>
    Ship type:<%=@ships[1].type%><br>
    Ship booty:<%=@ships[1].booty%><br>
</h2>
